@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
.fas {
    font-size: 35px;
    cursor: pointer;
    margin-bottom: none;
    margin-left: 4%;
}

.btn {
    font-size: 20px;
}

.navbar {
    background-color: #272727;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

.navbar1 {
    padding-right: 3%;
    font-size: 25px;
}

.navbar-nav {
    margin-left: 2px;
    color: white;
}

.card {
    margin-left: 12%;
    margin-top: 12%;
    margin-bottom: 1%;
    font-family: 'Chakra Petch', sans-serif;
}

.video {
    margin-left: 2%;
    margin-bottom: 5%;
    justify-content: center;
}

.home {
    background-color: #1C1B1C;
}

.card-body1 {
    margin: 1%;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

.video2 {
    margin-left: 25%;
}

.footer {
    background-color: #272727;
    color: #9C9C9C;
}

.texto {
    color: black;
}

.modal-header {
    background-color: black;
    color: white;
}

.modal-footer {
    background-color: black;
}

.navbar-toggler {
    background-color: white;
}

#favorito {
    text-align: center;
    background-color: black;
    color: white;
    border-color: white;
    font-family: 'Chakra Petch', sans-serif;
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

#favorito2 {
    color: white;
    border-color: white;
    font-family: 'Chakra Petch', sans-serif;
    background: linear-gradient( 90deg, rgba(115, 114, 112) 0%, rgba(74, 73, 73) 100%);
    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

#favorito2:nth-child(4n+1){
    background: linear-gradient(
        90deg,
        rgba(98, 94, 152) 0%,
        rgba(59, 55, 124) 100% 
      );
}
#favorito2:nth-child(4n+2){
    background: linear-gradient(
    90deg,
    rgba(70, 88, 88) 0%,
    rgba(33, 47, 61) 100%
  );
}
#favorito2:nth-child(4n+3){
    background: linear-gradient(
        90deg,
        rgba(23, 204, 209 ) 0%,
        rgba(20, 154, 157) 100%
      );
}



#prev, #next {
    margin-top: 3%;
}

.redlight {
    background: #EE3D4A;
    cursor: pointer;
}

.color {
    color: #eabe3f;
    ;
}